.alert
  border:1px solid #000
  height 40px
  line-height: 40px
  background: #ffffff
  font-size: 13px
  +from-width(4)
    display inline-block
    padding-left: 1rem
    padding-right: 1rem
  // &-goc
  //   border-color:$cancunColor
  //   color:$cancunColor