.title
  color inherit
  font-size 18px
  line-height 21px
  text-align center
  text-transform: uppercase
  font-weight: normal
  &.white
    color:#ffffff
  +from-width(5)
    font-size 30px
    line-height: 35px
.subtitle
  font-size 12px
  font-weight 500
  line-height 14px
  +from-width(5)
    font-size: 24px
    line-height: 29px
.text-center
  text-align: center