{% include 'includes/head.html' %}
{%set headerConfig = { 
  logo:'logo-oasis.svg'
  } 
%}
<main class="main__test">
  <div class="main__test__header">
    <img src="./img/logos/logo-oasis.svg" alt="">
    <!-- <h1 class="title mb-60">Overall, how has your time with us so far?</h1> -->
  </div>
  <div class="main__test__overlay">
      <h1 class="title white mb-60">
          Thank you for  your feedback. <br>
          Let us know if you need <br> anything while you’re here.
      </h1>
  </div>
</main>
{% include 'includes/end.html' %} 