{% include 'includes/head.html' %} 
{%set headerConfig = { 
  logo:'goc.svg'
  } 
%}
<main class="main-section goc">
    {% include 'includes/header.html' %}
  <div class="main-section__wrap goc">
      <section class="main-section__inner">
        <h1 class="title mb-60">Upgrade</h1>
        <div class="main-section__form">
            <form id="upgrade-form" action="#">
              <section>
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                      <div class="form-group">
                        <input class="form-control" type="text" placeholder="Nombre" required>
                      </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                      <div class="form-group">
                        <input class="form-control" type="text" placeholder="Apellido" required>
                      </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                      <div class="form-group">
                        <input class="form-control" type="text" placeholder="Email" required>
                      </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                      <div class="form-group">
                        <input class="form-control" type="text" placeholder="Telefono" required>
                      </div>
                    </div>
                    <div class="col-xs-12 col-sm-8">
                      <div class="form-group">
                        <div class="select-custom">
                          <select name="" id="" class="form-control">
                            <option value="1" disabled selected>Selecciona Hotel</option>
                            <option value="Auto 1">Hotel 1</option>
                            <option value="Auto 2">Hotel 2</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                      <div class="form-group">
                         <input type="text" class="form-control" placeholder="Numero de la Habitacion">
                      </div>
                    </div>
                    <div class="col-xs-12 center-xs">
                      <div class="row">
                        <div class="col-xs-12 col-sm-offset-4 col-sm-4">
                            <div class="form-group mt-20">
                                <input type="submit" class="btn btn-block btn-big" value="Enviar">
                             </div>
                        </div>
                      </div>
                    </div>
                </div>
              </section>
            </form>
        </div>
       
      </section>
  {% include 'includes/footer.html' %} 
  </div>
</main>
{% include 'includes/end.html' %} 