{% include 'includes/head.html' %} 
{%set headerConfig = { 
  logo:'goc.svg'
  } 
%}
<main class="main-section goc">
    {% include 'includes/header.html' %}
  <div class="main-section__wrap">
      <section class="main-section__inner">
        <!-- <div class="lang-box">
          <a class="btn lang-box-item">EN</a>
          <a class="btn selected lang-box-item">ES</a>
        </div> -->
        <h1 class="title mb-40">Sensoria</h1>
        <div class="main-section__spa-promo wrap-container">
          <div class="main-section__spa-promo__item">
            <h3 class="title-promo">Romantico <span> de $4,030 MXN a:</span></h3>
            <p><span>$3,090 MXN</span> <i>Por Pareja</i></p>
            <div>
              <a href="#" class="btn btn-big btn-reverse mt-20 no-margin-md">Reservar</a>
            </div>
          </div>
          <div class="main-section__spa-promo__item">
            <h3 class="title-promo">Piel Joven <span>de $3,985 MXN a:</span></h3>
            <p><span>$2,450 MXN</span> <i>Por Pareja</i></p>
            <div>
              <a href="#" class="btn btn-big btn-reverse mt-20">Reservar</a>
            </div>
          </div>
        </div>
      </section>
  </div>
</main>
{% include 'includes/end.html' %} 