{% include 'includes/head.html' %} 
{%set headerConfig = { 
  icono: 'true',
  logo:'gop.svg'
  } 
%}
<main class="main-section gop">
    {% include 'includes/header.html' %}
  <div class="main-section__wrap gos">
      <section class="main-section__inner">
        <div class="lang-box">
          <a class="btn lang-box-item">EN</a>
          <a class="btn selected lang-box-item">ES</a>
        </div>
        <h1 class="title mb-60">Seleccione un método de inicio de sesión</h1>
        <div class="methods-box text-center">
          <div class="method-box methods-box__one">
              <a href="#" class="btn btn-block">
                  CARGO A MI TARJETA DE CRÉDITO
              </a>
              <p>*Se requiere información de la tarjeta</p>
          </div>  
          <div class="method-box methods-box__two">
              <a href="#" class="btn btn-block">
                  CÓDIGO DE ACCESO
              </a>
              <p>*Disponible en el Lobby (Máquina expendedora)</p>
          </div>
        </div>
        <div class="skip text-center mt-10">
            <button class="btn btn-xs btn-primary">skip</button>
        </div>
      </section>
  {% include 'includes/footer.html' %} 
  </div>
</main>
{% include 'includes/end.html' %} 