{% include 'includes/head.html' %}
{%set headerConfig = { 
  logo:'gop.svg'
  } 
%}
<main class="main-section gop">
    {% include 'includes/header.html' %}
  <div class="main-section__wrap">
      <section class="main-section__inner">
        <div class="lang-box">
          <a class="btn lang-box-item">EN</a>
          <a class="btn selected lang-box-item">ES</a>
        </div>
        <form action="" class="main-section__inner--form">
          <div class="row">
            <div class="col-xs-12">
              <div class="form-group">
                <input class="form-control" type="text" placeholder="Acces Code" required>
              </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group">
                  <input class="form-control" type="email" placeholder="Email Address" required>
                </div>
            </div>
            <div class="col-xs-12 center-xs">
                <div class="checkbox-custom mt-10 mb-20">
                  <input type="checkbox" id="accept">
                  <label for="accept">Acepto <strong><a href="#">términos y condiciones</a></strong></label>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-block mb-40">
                    <!-- <a href="#" class="btn btn-goc btn-lg">Acceso a internet</a> -->
                </div>
            </div>
            </div>
          </div>
        </form>
      </section>
  {% include 'includes/footer.html' %} 
  </div>
</main>
{% include 'includes/end.html' %} 