{% include 'includes/head.html' %} 
{%set headerConfig = { 
  icono: 'true',
  logo:'goc.svg'
  } 
%}
<main class="main-section goc">
    {% include 'includes/header.html' %}
  <div class="main-section__promociones">
    <h1 class="title mt-10 mb-20 mt-20-md mb-30-md">Promociones Especiales</h1>
      <div class="fluid-container wrap-container">
          <div class="row">
              <div class="col-xs-12 col-sm-4 col-lg-6">
                <div class="promo__item upgrade">
                  <div class="promo__item__overlay">
                    <span class="promo__item__title">UPGRADE</span>
                    <a href="#" class="btn btn-big btn-transparent">Reservar</a>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-4 col-lg-6">
                <div class="promo__item autos">
                  <div class="promo__item__overlay">
                    <span class="promo__item__title">Alquiler de Autos</span>
                    <a href="#" class="btn btn-big btn-transparent">Reservar</a>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-4 col-lg-6">
                  <div class="promo__item cena">
                      <div class="promo__item__overlay">
                        <span class="promo__item__title">Cena Romantica</span>
                        <a href="#" class="btn btn-big btn-transparent">Reservar</a>
                      </div>
                    </div>
              </div>
              <div class="col-xs-12 col-sm-4 col-lg-6">
                <div class="row">
                  <div class="col-xs-12 col-sm-12 col-lg-6">
                      <div class="promo__item blackhole">
                          <div class="promo__item__overlay">
                            <span class="promo__item__title">Black Hole</span>
                            <a href="#" class="btn btn-big btn-transparent">Reservar</a>
                          </div>
                        </div>
                  </div>
                  <div class="col-xs-12 col-sm-12 col-lg-6">
                      <div class="promo__item benazuza">
                          <div class="promo__item__overlay">
                            <span class="promo__item__title">Benazuza</span>
                            <a href="#" class="btn btn-big btn-transparent">Reservar</a>
                          </div>
                        </div>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-4 col-lg-6">
                  <div class="promo__item kinha">
                      <div class="promo__item__overlay">
                        <span class="promo__item__title">Kin-Ha</span>
                        <a href="#" class="btn btn-big btn-transparent">Reservar</a>
                      </div>
                    </div>
              </div>
              <div class="col-xs-12 col-sm-4 col-lg-6">
                  <div class="promo__item sensoria">
                      <div class="promo__item__overlay">
                        <span class="promo__item__title">Sensoria</span>
                        <a href="#" class="btn btn-big btn-transparent">Reservar</a>
                      </div>
                    </div>
              </div>
            </div>
              
      </div>
  </div>
</main>
{% include 'includes/end.html' %} 