.main-section
  padding: 2rem 1rem
  +from-width(5)
    padding: 2rem 60px
  position relative
  &__form
    max-width 600px
    margin:0 auto
  &__inner
    padding-top:190px
    padding-left: 1.5rem
    padding-right: 1.5rem
    +from-width(6)
      padding-top: 250px
      padding-bottom: 50px
    &--form
      max-width 350px
      margin:0 auto
      &--large
        max-width: 550px
    .method-box
      margin-bottom: 40px
      +from-width(4)
        max-width 350px
        margin:0 auto
        margin-bottom: 40px
     .btn
        margin-bottom: 25px
  &.default
    color:#000000
    .header__path__inner
      background: url('../img/header-oh.png') no-repeat
  &.gos
    color:$sensColor
    .header__path__inner
      background: url('../img/header-gos.png') no-repeat
    .btn
      btn(#fff, $sensColor, false, false, false)
    .alert
      border-color: $sensColor
      color:$sensColor
    .main-section__wrap
      border-color:$sensColor
  &.goc
    color:$cancunColor
    .header__path__inner
      background: url('../img/header-goc.png') no-repeat
    .btn
      btn(#fff, $cancunColor, false, false, false)
    .alert
      border-color: $cancunColor
      color:$cancunColor
    .main-section__wrap
      border-color:$cancunColor
  &.gop
    color:$palmColor
    .header__path__inner
      background: url('../img/header-gop.png') no-repeat
    .btn
      btn(#fff, $palmColor, false, false, false)
    .alert
      border-color: $palmColor
      color:$palmColor
    .main-section__wrap
      border-color:$palmColor
  &.got
    color:$tulumColor
    .header__path__inner
      background: url('../img/header-got.png') no-repeat
    .btn
      btn(#fff, $tulumColor, false, false, false)
    .alert
      border-color: $tulumColor
      color:$tulumColor
    .main-section__wrap
      border-color:$tulumColor
  &.oh
    color:#000000
    .header__path__inner
      background: url('../img/header-oh.png') no-repeat
    .btn
      btn(#fff, #000000, false, false, false)
    .alert
      border-color: #000000
      columns #000000
    .main-section__wrap
      border-color:#000000
  &__wrap
    height 100%
    min-height calc(100vh - 4rem)
    border:1px solid #000
    +from-width(4)
      display flex
      justify-content: center
      align-items: center
  &__promociones
    padding-top:160px
    +from-width(5)
      padding-top: 220px
    .promo__item
      position relative
      text-align: center
      padding-bottom: 65%
      transition: all .35s ease
      margin-bottom: 1rem
      +from-width(5)
        padding-bottom: 0px
        height 350px
      &.upgrade
        background-image: url('../img/promociones/img/upgrade.jpg')
        background-size:cover
        &:hover
          background-image: url('../img/promociones/img/upgrade-gris.jpg')
      &.autos
        background-image: url('../img/promociones/img/renta-autos.jpg')
        background-size:cover
        &:hover
          background-image: url('../img/promociones/img/renta-autos-gris.jpg')
      &.cena
        background-image: url('../img/promociones/img/cena-romantica.jpg')
        background-size:cover
        &:hover
          background-image: url('../img/promociones/img/cena-romantica-gris.jpg')
      &.blackhole
        background-image: url('../img/promociones/img/black-hole.jpg')
        background-size:cover
        &:hover
          background-image: url('../img/promociones/img/black-hole-gris.jpg')
      &.benazuza
        background-image: url('../img/promociones/img/benazuza.jpg')
        background-size:cover
        &:hover
          background-image: url('../img/promociones/img/benazuza-gris.jpg')
      &.kinha
        background-image: url('../img/promociones/img/kin-ha.jpg')
        background-size:cover
        &:hover
          background-image: url('../img/promociones/img/kin-ha-gris.jpg')
      &.sensoria
        background-image: url('../img/promociones/img/sensoria.jpg')
        background-size:cover
        &:hover
          background-image: url('../img/promociones/img/sensoria-gris.jpg')
      &__title
        display block
        margin-bottom: 20px
        color #FFFFFF
        font-family Raleway
        font-size 30px
        font-weight bold
        letter-spacing 1.2px
        line-height 35px
        text-align center
        text-transform: uppercase
      &__overlay
        position absolute
        width: 100%
        bottom:20px
        left:50%
        transform: translateX(-50%)
.main__test
  background: #000000 linear-gradient(228.24deg, rgba(255,255,255,0.37) 0%, rgba(255,255,255,0.04) 100%)
  min-height 100vh
  &__overlay
    padding-bottom: 3rem
    +mobile(orientation: portrait)
      position absolute
      top:50%
      left:50%
      width:100%
      transform: translate(-50%,-50%)
      padding: 0
    +from-width(4)
      position absolute
      top:50%
      left:50%
      width:100%
      transform: translate(-50%,-50%)
      padding-top: 7rem
  &__header
    text-align: center
    padding:3rem  1rem
    +from-width(5)
      padding:4rem  1rem
    img
      max-width 150px
      display block
      margin: 0 auto